---
import { ClientRouter } from "astro:transitions";
const pageTitle = "Developer Blog";
const titleSecondary = "My blog to keep up with my development projects. Keep coming back for more updates for anything I develop!";
import SplitTitleLayout from "../layouts/SplitTitleLayout.astro";
---
<SplitTitleLayout pageTitle={pageTitle} titleSecondary={titleSecondary}>
  <ul class="p-10">
    <li><a href="/posts/devpost1/">First Post</a></li>
  </ul>
</SplitTitleLayout>
