---
import { ClientRouter } from "astro:transitions";

---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/devblog/">Dev Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link href="/src/styles/global.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  <title>Dev Blog</title>
	</head>
  <body>
    <div class="flex md:flex-row">
      <h1 class="p-10 font-bold text-5xl">Developer Blog</h1>
      <p class="pt-10 pl-5 pr-10 font-bold font-italics text-xl self-center">My blog to keep up with my development projects. Keep coming back for more updates for anything I develop!</p>
    </div>
  </body>
</html>
