---
import { ClientRouter } from "astro:transitions";
const pageTitle = "Gorgeous Tendencies";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex md:flex-row" id="links">

  </div>
  <div class="flex md:flex-row" id="about">

  </div>
</BaseLayout>
