---
import { ClientRouter } from "astro:transitions";
const pageTitle = "Gorgeous Tendencies";
import IndexLayout from "../layouts/IndexLayout.astro";
import SectionButton from "../components/SectionButton.astro";
---
<IndexLayout pageTitle={pageTitle}>
  <div class="flex md:flex-row" id="about">

  </div>
  <div class="flex flex-col md:grid md:grid-cols-2" id="links">
    <SectionButton slug="about" pageTitle="About" />
    <SectionButton slug="devblog" pageTitle="Dev Blog" />
  </div>
</IndexLayout>
