---
let { dataPath } = Astro.props;

let matches;

switch (dataPath) {
  case "devPosts":
    matches = import.meta.glob("/src/pages/posts/dev-*", { eager:true });
    break;
}

const posts = Object.values(matches);
---
<div class="md:p-10 max-md:p-5">
  <table class="text-gray-300 md:text-lg max-md:text-md">
    {posts.map(( post: any ) => (
    <tr>
      <td>
        <div>
          <img width="140" class="py-3" alt={post.frontmatter.image.alt} src={post.frontmatter.image.url}/>
        </div>
      </td>
      <td class="md:pl-5 md:pr-5 max-md:pl-3 max-md:pr-3">
        <p>{post.frontmatter.title}</p>
      </td>
      <td>
        <a href={post.url} class="max-md:pr-3 md:pr-5 underline">Read More</a>
      </td>
    </tr>
    ))}
  </table>
</div>
