---
import Social from "./Social.astro";
---

<div class="flex flex-col w-70 p-5 border border-slate-600 rounded-lg bg-slate-600 place-self-center place-items-center">
  <p class="text-slate-200">Learn more about my projects</p>
  <Social platform="github" username="VoidIfPerceived" image="Github" />
</div>
