---

---
<div class="p-5 px-10 text-l text-white font-bold bg-red-400 bg-linear-to-bl from-violet-500 to-pink-650">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/devblog/">Dev Blog</a>
</div>
