---

---
<div class="navigation p-5 text-l text-white font-bold bg-red-400 bg-linear-to-bl from-violet-500 to-pink-650">
  <a href="/" class="p-1 mx-1 rounded-sm bg-black">Home</a>
  <a href="/about/" class="p-1 mx-1 rounded-sm bg-black">About</a>
  <a href="/devblog/" class="p-1 mx-1 rounded-sm bg-black">Dev Blog</a>
</div>
