
---
---
<div
  class="prose prose-p:text-gray-300 prose-ol:list-disc prose-strong:text-gray-300 prose-em:text-amber-500 prose-h2:font-xl prose-headings:text-white prose-h3:italic"
>
  <slot />
</div>
