---
const { platform, username, image } = Astro.props;
import Github from "../../public/github-mark-white.svg";

let source;

switch (image) {
case "Github":
  source = Github;
  break;

}

---
<a href={`https://www.${platform}.com/${username}`}>
  <img src={source.src} width="20" height="20" />
</a>
