---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
  <body class="flex flex-col h-screen justify-between bg-linear-to-br from-slate-900 to-slate-950">
    <Header />
    <div class="mb-auto">
      <div class="flex flex-row place-content-center">
        <h1 class="max-md:p-3 max-md:pt-5 md:p-15 md:pt-5 self-center md:text-5xl max-md:text-2xl font-bold text-gray-300">{pageTitle}</h1>
      </div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
